html{
    overscroll-behavior: contain;
}
.box {
    width: 100%;
    height: 500px;

    /* margin-top: 70px; */
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;

    text-align: center;

}



.banner {
    background: rgba(0, 0, 0, 0.3) url(../img/brand_banner.jpg) no-repeat fixed center / cover;
    background-blend-mode: darken;
}

@font-face {
    font-family: 'nanum-light';
    src: local('fonts/NanumBarunGothicLight.ttf'),
        url('../font/NanumBarunGothicLight.ttf')format('truetype');

}

.txt_box {
    margin: 150px auto;
    color: white;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'nanum-light';
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-bottom: 30px;
}

.content_title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    margin-top: 20px;
}

.story_box1 {
    text-align: center;
    /* background-color: palegoldenrod; */
    width: 1100px;
    margin: 0 auto;
}

.story_title {
    margin: 0 auto;
    align-items: center;
    font-size: 25px;
    font-family: 'nanum-light';
    font-weight: 600;
}

.border {
    height: 2px;
    background-color: #ffbf00;
    margin: 30px auto 0;
    width: 500px;

}


.story_logo {
    width: 1000px;
    margin: 50px auto 130px;
    display: flex;
    justify-content: space-between;
}

.logo_box {
    width: 400px;
    height: 200px;
    background: url(../img/logo.png) no-repeat center / 300px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.7s;

}

.logo_txt {
    width: 600px;
    text-align: left;
    position: relative;
}
.abBox{
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease 0.3s;
}

.txt_content1 {
    color: white;
    font-weight: 650;
    font-size: 20px;
    margin-bottom: 12px;
    display: inline-block;
    background-color: #ffbf00;

    font-family: 'nanum-light';
}
.brand_color{
    width: 958px;
    margin:50px auto  0;
    display: flex;
    overflow: hidden;
}
.color_wrap{
    /* background-color: red; */
    width: 100%; 
    display: flex;
    transform: translateY(100%);
    transition: all 0.5s;
    opacity: 0;
}
.color_wrap2{
    transition: all 0.7s;
}
.white_pan{
    width: 958px;
    height: 70px;
    background-color: white;
    margin: 0 auto;
}
.main_color{
    width: 50%;
    height: 100%;
    font-family: 'nanum';
    font-size: 20px;
    font-weight: 900;
    margin-left: 20px;
    text-align: left;
}
.main_color1{
    color: #ffbf00;
}
.main_color2{
    color: #FFE178;
}
.main_color >span{
    color: rgb(143, 143, 143);
    font-size: 15px;
    
}

.color_box{
    width:  100%;
    height: 200px;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
}
.box1{
    width: 100%;
    height:70%;
    background-color: #ffbf00;
}
.box2{
    width: 100%;
    height: 30%;
    background: url(../img/brand_color1.png)no-repeat center / cover;
}
.box3{
    width: 100%;
    height: 70%;
    background-color: #FFE178;
}
.box4{
    width: 100%;
    height: 30%;
    background: url(../img/brand_color2.png)no-repeat center / cover;
}



.story_info{
    width: 100%; 
     margin-top: 100px;
    padding: 100px 0;
    box-sizing: border-box;
    background-color:  rgb(255, 228, 149);
    background-color:  #FAE6B9;
    overflow: hidden;
}
.info_wrap{
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.info_txt_box{

    margin: 0 auto 100px;
    text-align: center;
}
.info_txt_box > h2{
    font-family:'nanum-light' ;
}
.info_txt_box > h3{
    font-family:'nanum' ;
    margin-top: 50px;
}
.info_txt_box > p{
    font-family:'nanum-light' ;
    font-size: 16px;
}


.info_box{
    margin-top: 50px;

}

.info_title{
    font-size: 27px;
    font-weight: 900;
}
.info_mini_title{
    font-size: 17px;
    font-weight: 600;
}
.info_img{
    width: 50%;
    height: 500px;
    /* opacity: 0.1;
    background: rgb(0, 0, 0, 0.1); */
    background-color: #ffbf00;
/*     transform: translateX(-130%); */
    transition: all 0.5s ease-in-out;
    opacity: 0;

}

.info_img1{
    background: url(../img/brand_main1.jpg) no-repeat center / cover;

}

.info_img2{
    background: url(../img/brand_main2.jpg) no-repeat center / cover;
/*     transform: translateX(130%); */
}

.info_img3{
    background: url(../img/brand_main3.jpg) no-repeat center / cover;
}

.on {
    transform: translateX(0);
    opacity: 1;
}


.info_txt{
    width: 50%;
    height: 400px;
    padding: 100px 50px;
    box-sizing: border-box;
}

.story_vegan{
    margin: 0 auto;
    width: 100%;
    height: 400px;
    padding: 120px 0 150px 0;
    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.5) url(../img/brand_main4.jpg)no-repeat center / cover;
    background-blend-mode: darken;

    color: white;
}
.vegan_txt{
    width: 800px;
    margin: 0 auto;
}

.vegan_title1{
    font-size: 35px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    font-family:'nanum-light';
    font-family:'nanum가람';
    width: 100%;
    margin-bottom: 20px;

    /* color: rgb(127, 197, 21); */
}

.vegan_content{
    width: 50%;
    font-size: 32px;
    background-color: pink;
    font-family: 'nanum강부장';
}

.vegan_title2{
    font-size: 28px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10px;
    font-family:'nanum강부장';
    color: #FAE6B9;
    line-height: 20px;

}
.vegan_title2 ~ p {
    font-size: 20px;
    font-weight: 400;
    font-family:'nanum강부장';
}
.vegan_title2_inner{
    font-size: 18px;
    font-family: 'nanum강부장';
}
