html, body {
    max-width: 100%;
    overflow-x: hidden;

}

body{
    margin: 0;


    /* background-color: #FFFEEB; */
    background-color: white;
}
ul{list-style: none; margin: 0; padding: 0;}
.content_area{
    /* width: 100%;
    max-width: 1200px; */
    width: 1200px;
    max-width: 100%;
    height: 100%;

    margin: 0 auto;


    display: flex;
    justify-content: space-between;



}

a{
    text-decoration: none;
    color: black;
}


/* //////////////////// 반응형 ////////////////////// */
.ham_btn{
    display: none;
    /* margin: 7px 0 0; */
    width: 40px;
    height: 100%;

    padding: 15px 0;
    box-sizing: border-box;

    /* background-color: red; */

}

.ham_line{
    width: 20px;
    height: 2px;

    background-color: #000;
    /* box-sizing: border-box; */
}
.ham_line:nth-child(2) {
    margin: 5px 0;
}
.ham_line:nth-child(3) {
    /* height: 2.5px; */
}



/* //////////////     헤더    //////////////// */
.header{
    height: 70px;
    width: 100%;
    line-height: 70px;

    padding: 0 20px;
    box-sizing: border-box;


    /* background: #fff; */
    background: #FFFEEB;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;

}

.logo{
    font-size: 35px;
    font-family: 'time';
    /* color: #facf0e; */
    color:#ffbf00;




    /* flex-direction: row; */

    height: 100%;
    width: 200px;

}
.logo > a {
    color:#ffbf00;
}

.nav{

    /* display: block; */
    font-size: 15px;
    font-weight: 900;
}
.nav > a{
    margin: 0 30px;
}
.menu{

    height: 100%;
    width: 200px;

    display: flex;
    justify-content: space-between;

}

.h_menu > a{

    font-size: 13px;
    margin-left: 15px;
}
.h_menu::after{
    content: "";

    margin: 15px;
    width: 1px;
    border-right: 1px solid #979286;


}
.h_icon{
    /* width: 55px; */
    height: 100%;
    display: flex;

}
.shopping{
    width: 25px;
    margin:0;
    background: url(../img/장바구니_black.png)no-repeat center / 20px;
    /* background-color: #000; */
    cursor: pointer;
}
.search{
    width: 25px;
    margin-left: 5px;
    background: url(../img/h_검색.png)no-repeat center / 20px;

    /* background-color: red; */
    cursor: pointer;
}


/* //////////////     검색창    //////////////// */


.main_banner{
    position: relative;
    /* background-color: red; */

    height: 38.5vw;
    max-height: 500px;

}

.banner {
    width: 100%;
    height: 100%;

    background:rgba(0, 0, 0, 0.1)  url(../img/detail_main.jpg)no-repeat center / cover;
    background-blend-mode: darken;
}
.search_box{

    width:  50%;
    height: 50px;


    margin:0 auto;
    border-bottom: 1px solid white;

    box-sizing: border-box;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.txt_search{
    background: transparent;
    width: calc(100% - 35px);

    height: 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 0;
    color: white;
    font-size: 25px;
    font-family: 'nanum';
    /* background-color: pink; */


}
input::placeholder {
    color: white;
}
.icon{

    width: 35px;
    height: 100%;
    float: right;

    background: url(../img/detail_search.png)no-repeat center / 50px;


}


/* //////////////     메인메뉴_탭    //////////////// */
.main_tab{
    width: 600px;
    height: 20px;
    line-height: 20px;
    /* background-color: pink; */
    margin: 80px auto;
    font-family: 'nanum';
}

.main_tab > ul {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 70px;
    margin: 35px auto;
    box-sizing: border-box;
    /* background-color: tan; */
}

.main_tab > ul > li {
    font-size: 19px;
    font-weight: 600;
    font-family: 'nanum-light';

    color: #979286;
    cursor: pointer;
    /* background-color: red; */

}

.main_tab > ul > li:hover {

    color: black;

}

.border_R{
    height: 20px;
    border-right: 2px solid;
    color: #979286;

}

.all_manu{
    text-align: center;

    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;

    font-family: 'nanum';
    border-bottom: 2px solid;
    width: 1200px;
    max-width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
}


/* //////////////     메인메뉴   /////////////// */
.menu_box{

    display: flex;
    flex-wrap: wrap;

    margin: 0 auto 50px;


    margin: 0 auto 150px;
    padding: 50px 0 0;
    max-width: 90vw;
justify-content: flex-start;
}

.menu_list{
    width: calc((100% - (25px * 3))/ 4);
    /*height: 500px;*/

    margin-bottom: 100px;

    box-sizing: border-box;
    overflow: hidden;
margin-left: 15px;
     /*background-color: red;*/
}
.box {
    width: 100px;
    height: 100px;
    background: #000000;
}
.menu_list2{
    width: calc((100% - (25px * 3))/ 4);
    /*height: 500px;*/

    margin-bottom: 100px;

    box-sizing: border-box;
    overflow: hidden;

    /*background-color: red;*/
}
.menu_item{
    /* height: 400px; */
    width: 100%;


     /*background-color: blue; */
    transform: scale(1);
    overflow: hidden;


}
.menu_item  img {
    width: 100%;
    height: 100%;

    max-width: 100%;
    height: auto !important;

    transition: all 0.3s;
    display: block;
    background: pink;

}
.menu_item:hover  img{
    transform: scale(1.2);
}

.menu_txt{

    /* height: 100px; */

    margin-top: 15px;

    font-family: 'nanum';

    /* background-color: pink; */


}
.p_name {

    font-size: 17px;
    font-family: 'nanum-light';
    font-weight: 400;
    margin: 0;

    width: 100%;


}
.p_sale{
    font-weight: 900;
    color: rgb(255, 79, 48);
    font-size: 17px;
    margin: 8px 0 0;
    display: inline-block;
}

.p_price{
    font-weight: 900;
    font-size: 17px;
    margin: 0;
    display: inline-block;


}
.menu_basket_btn{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    /* background-color: red; */
    background: url(../img/detail_basket.png) no-repeat center / cover;


}




/* ////////////// 탑 버튼 ////////////// */
.top_btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;

    position: fixed;
    bottom: 50px;
    right: 50px;

    text-align: center;
    line-height: 70px;

    color: white;
    font-size: 20px;
    font-weight: 400;

    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;

    background-color: #facf0e;
    background-color: #ffbf00;
    background-color: #FFE178;
}

.top_show{
    opacity:1;
    visibility:visible;

}
/* ////////////// 수량 팝업 ////////////// */
.popup_outer_box{
    width: 450px;
    height: 330px;
    background-color: white;

    border-radius: 4%;
/*     border: 1px solid #979286; */
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;

    box-sizing: border-box;

    display: none;
    z-index: 9999;
}
.popup_inner_box{
    width: 100%;
    height: 50%;


    font-family: 'nanum-light';
    /* background-color: red; */

}
.inner_txt{
    width: 100%;
    height: 35px;
    font-size: 14px;

    box-sizing: border-box;
    padding-top: 1px;
}


.inner_price{
    font-family: 'nanum';
    font-weight: 600;


    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;


}
.popup_inner_price1 > p{
    margin-top: 15px;
    /* line-height: 35px; */
}
.pm_btn{
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: white;

    font-size: 14px;
    display: flex;
    justify-content: space-between;


    border: 0.3px solid rgb(178, 177, 177);

    border-radius: 3px;
    padding: 0 15px;
    box-sizing: border-box;
}

#pm_txt{
    border: none;
    outline: none;
    width: 20px;
    text-align: center;
    user-select: none;
}
button{
    border: 0;
    outline: 0;
    cursor: pointer;

    box-sizing: border-box;

}
#minus{
    background: url(../img/Btn_minus.png) no-repeat center / 13px;

}
#plus{
    background: url(../img/Btn_plus.png) no-repeat center / 10px;
}
.total_box{

    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total_name{
    font-weight: 600;


}
.total_price{
    font-size: 20px;
    font-weight: 900;

    font-family: 'nanum';
}

.point_box{
    height: 20px;


    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 2px;
}
.point{
    width: 38px;
    height: 20px;
    line-height: 21px;

    background-color: #ffbf00;
    background-color: #FFE178;
    border-radius: 8px;
    text-align: center;

    color: #fff;
    font-weight: 900;
    font-size: 11px;
    margin-right: 6px;

}
.total_sale{
    font-size: 13px;
    font-weight: 600;
}
.cp_btn{
    width: 100%;
    height: 85px;
    line-height: 85px;
    /* background-color: teal; */

    align-items: flex-end;
    display: flex;
    justify-content: space-between;


}
.cp_btn > button{
    width: 190px;
    height: 70%;

    font-family:'nanum-light';
    font-weight: 900;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}
#cancel{
    /* border: 0.1px solid #a6a39c; */
    border: 0.3px solid #ffbf00;
    color: #FFE178;
    color: #ffbf00;;
    background-color: #fff;

}
#put{

    background-color:#FFE178;
    background-color:#ffbf00;
    /* background-color:#ffbf00; */
    color: #fff;

}

/* ////////////// 수량 팝업 ////////////// */
.basket_popup{
       width: 450px;
    height: 200px;
    background-color: white;
    /* border: 1px solid #979286; */
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    display: none;
    z-index: 9999;
}
.basket_popup > div {
       width: 88%;
    height: 50%;
    margin: 0 auto;
    /* background-color: red; */
}

.basket_txt > p{
    margin: 0;
    margin-bottom: 9px;
    text-align: center;
    font-family: 'nanum-light';
    font-size: 16px;
    color: #686662;

}


.basket_btn {
    display: flex;
    justify-content: space-evenly;
    /* padding: 15px 15px 0 15px; */
    box-sizing: border-box;
}


.basket_btn > button{
    width: 150px;
    height: 50px;
    border: 1px solid #ffbf00;
    background-color: white;
    color: #ffbf00;
    font-weight: 600;
       border-radius: 5px;
        font-family: 'nanum';
}

#check{

    background-color: #ffbf00;
    color: white;
}
/* login */
.logChk_popup {
    width: 420px;
    height: 200px;
    background: #fff;
    border: 1px solid rgba(41, 40, 40, 0.3);
    padding: 40px 0;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
    border-radius: 10px;
}
.logChk_txt {
/*     padding-top: 30px; */
    box-sizing: border-box;
}
.logChk_txt p {
    color: rgb(96, 95, 95);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    /* font-weight: 600; */
    font-size: 16px;
    /* margin: 0; */
}
.logChk_btn {margin-top:10px;}
#log_cancle_btn {
    width: 130px;
    height: 50px;
    border: 1px solid;
    background: #fff;
    color: #ffbf00;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 5px;
}
#logChk_commit_btn {
    width: 130px;
    height: 52px;
    border: 1px solid;
    background: #ffbf00;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
}

/* /////////////  푸터 //////////// */
.footer{
    margin-top: 20px;
    width: 100%;

    width:100vw;

    height: 200px;
    /* background-color: #fff; */
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #FFFEEB;

}
/* .f_h{
    width: 100%;
    width: auto;
    height: 50%;
    display: flex;
    justify-content: space-between;
} */

.f_h_box {

    box-sizing: border-box;
    padding: 40px 0 0;
    /* background-color: blue; */
}
.f_h_txt1{
    font-weight: 900;
}
span{
    font-weight: 400;
}

/* .f_b{
    width: 1200px;
    height: 50%;
    display: flex;
    justify-content: space-between;
} */
.f_b_box{

    box-sizing: border-box;
    padding:  30px 0 0;
    /* background-color: pink; */
}



.f_h_txt, .f_b_txt {
    box-sizing: border-box;

    font-size: 13.5px;
    margin: 0;

}
.w_box{
    display: inline-block;
}
.w_box > .f_b_txt{
    background-color: #FFE178;
    /* display: inline; */
}
.f_txt1, .f_txt2 , .f_txt3{
    /* background-color: red; */
}
.ham_box {
    width: 55px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
}
.ham_line {
    width: 75%;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    margin: 7px 0;
}

.ham_menu {
    width: 250px;
    height: 70vh;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 1px 5px #ddd;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: -50%;
    transition: all 1.5s;
    z-index: 99999;
    padding: 20px;
    box-sizing: border-box;
}
.ham_active {
    left:0 !important;
}
.ham_ul {
    font-size: 17px;
    color: #6d6d6d;
    text-align: center;
    line-height: 40px;
    font-family: 'nanum';
}
.ham_ul li:nth-child(1),
.ham_ul li:nth-child(2) {
    font-size: 18px;
}
.hr {
    width: 80%;
    height: 1px;
    margin: 10px auto;
    background-color: #e7e7e7;
}
/* layer */
.layer {
    width: 100%;
    height: 100%;
    background: rgba(104, 104, 104, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
