
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
        overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0;
    padding: 0;
}

.content_area {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'nanum-light';
}


/* //////////////////// 반응형 ////////////////////// */
.ham_box {
    width: 55px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    /* background-color: #979286; */
    display: none;
}
.ham_line {
    width: 75%;
    height: 3px;
    border-radius: 10px;
    background-color: black;
        background-color: #ffbf00;
    margin: 7px 0;
}

.ham_menu {
    width: 250px;
    height: 70vh;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 1px 5px #ddd;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: -50%;
    transition: all 1.5s;
    z-index: 99999;
    padding: 20px;
    box-sizing: border-box;
}
.ham_active {
    left:0 !important;
}
.ham_ul {
    font-size: 17px;
    color: #6d6d6d;
    text-align: center;
    line-height: 40px;
    font-family: 'nanum';
}
.ham_ul li:nth-child(1),
.ham_ul li:nth-child(2) {
    font-size: 18px;
}
.hr {
    width: 80%;
    height: 1px;
    margin: 10px auto;
    background-color: #e7e7e7;
}

/* //////////////     헤더    //////////////// */
.header {
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    background: transparent;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
        font-family: 'nanum';

}

.logo {
    font-size: 35px;
    font-family:'time', serif ;

    height: 100%;
    width: 200px;
}

.logo > a {
    color: #ffbf00;
}

.nav {
    font-size: 15px;
    font-weight: 900;
}

.nav>a {
    margin: 0 30px;
    color: #facf0e;
}

.menu {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.h_menu>a {
    font-size: 13px;
    margin-left: 15px;
    color: #ffbf00;
}

.h_menu::after {
    content: "";
    margin: 15px;
    width: 1px;
    border-right: 1px solid #989898;
}

.h_icon {
    width: 55px;
    height: 100%;
    display: flex;
}

.shopping {
    width: 25px;
    height: 100%;
    margin: 0;
    background: url(../img/shopping_yellow.png) no-repeat center / 20px;
    cursor: pointer;
}


.search {
    width: 25px;
    height: 100%;
    margin-left: 10px;
    background: url(../img/header_search_yellow.png) no-repeat center / 20px;
    cursor: pointer;
}




 /*////////////// 탑 버튼 //////////////*/
.top_btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;

    cursor: pointer;
    background-color: #FFE178;
    border: none;

}
.top_show{
    opacity:1;
    visibility:visible;

}


/* /////////////  푸터 //////////// */
.footer {
    margin-top: 20px;
    width: 100vw;
    height: 200px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #FFFEEB;

}

.f_h_box {
    box-sizing: border-box;
    padding: 40px 0 0;
}

.f_h_txt1 {
    font-weight: 900;
}

.f_h_txt span {
    font-weight: 400;
}

.f_b_box {
    box-sizing: border-box;
    padding: 30px 0 0;
}


.f_h_txt,
.f_b_txt {
    box-sizing: border-box;

    font-size: 13.5px;
    margin: 0;

}

.w_box {
    display: inline-block;
}

.w_box>.f_b_txt {
    background-color: #FFE178;
}
