.model_background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    z-index: 99999999;
}
.model_content{
        margin: 200px auto;
        padding: 0 100px;
        text-align: center;
    }
.search_box2{
    top:36.5%;
    max-width: 50%;
}
.icon{
    background: url(../img/detail_search.png) no-repeat center / 40px;
}
.close{
    position: fixed;
    width: 30px;
    height: 30px;
    top: 40px;
    right: 40px;
    background: url(../img/close.png) no-repeat center / 40px;
    cursor: pointer;
}
