@media screen and (max-width: 1024px) {

    .contact_information {
        width: 350px;
    }
    .coupon_li_1 {
        left: 520px;
    }
    .coupon_li_2 {
        left: 630px;
    }
    .chk {
        margin-left: 21px;
    }
    .letf {
        left: 600px;
    }
    #txt_qty {
        left: 630px;
    }
    .right {
        left: 660px;
    }
    .payment {
        margin-left: 400px;
    }
    .coupon_li_1 {
        left: 520px;
    }
    .coupon_li_2 {
        left: 630px;
        margin-left: 20px;
    }
    .contact_information {
        width: 350px;
    }
    .date_created, .answer {
        width: 100px;
    }
}
@media screen and (max-width: 768px) {
    .show_info_box{
        width: calc((100% - 20px *4) / 2);
        height: 150px;
        line-height: 70px;
        margin-bottom: 25px;
        padding: 25px;
    }
    .show_info{
        height: 400px;
        display: flex;
        flex-wrap: wrap;
    }

    .review_content_botton {
        left: 83%;
    }
    .contact_information {
        width: 130px;
    }
    .coupon_li_first {
    width: 200px;
}
    .coupon_li_1 {
        left: 260px;
    }
    .coupon_li_2 {
        left: 370px;
    }
    .letf {
        left: 390px;
    }
    .letf {
        left: 390px;
    }
    #txt_qty {
        left: 420px;
    }
    .right {
        left: 449px;
    }
    .payment {
        margin-left: 211px;
    }
    .id_pw_box {
        margin-left: 40px;
        width: 350px;
    }
}
@media screen and (max-width: 480px) {
  .show_info_box{
        width:80%;    
        height: 50px;   
        padding: 0px;
        margin-bottom: 10px;
        line-height: 50px;
      }
    .show_info{     
      height: 300px;
 }
    .ul{
    width:100%;
    }
    .name{
    width:100%;
    }
    .infomation {
    float: left;
}
    
    .diriver {
    top: 570px;
    left: 75%;
}
    .prvBtn {
    display: none;
}
    .review {
    width: 80%;
}
    .review_can {  
    width: 100%;
}
    .review_done {
    width: 100%;
    margin-top: 200px;
}
    .review_product {
    width: 200px;
    left: 83%;
    line-height: 50px;
    padding-left: 0px;       
}
    .period_search {
    display:none;
}
}
