
/* 계산 */
.box {
    position: relative;
}
.btn_updown {
    width: 30px;
    height: 30px;
}
.letf {
    position: absolute;
    right: 260px;
    top: 40px;
}
.right {
    position: absolute;
    right: 200px;
    top: 40px;
}
#txt_qty {
    /* left: 150px; */
    position: absolute;
    right: 230px;
    top: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#o_price{
    display: none;
}
.result {
    position: absolute;
    right: 30px;
    top: 40px;
}
.product_delect {
    position: absolute;
    right: 0px;
    top: 35px;
    color: rgb(230, 218, 218);
    font-size: 25px;
    font-weight: 100;
}
/* 체크박스 */
.chk {
float: left;
    display: inline-block;
    margin-top: 75px;
    margin-left: 21px;
    width: 15px;
    height: 15px;
}
.chk_all_box {
    width: calc(100% - 200px);
    /* margin-top: 10px; */
    margin-bottom: 14px;
    padding-bottom: 15px;
    box-sizing: border-box;
    float: right;
    border-bottom: 1px solid #ddd;
}
.chk_all{
    width: 15px;
    height: 15px;
    margin-left: 20px;
}
/*  상품 설명*/
.product_description {
    /* position: absolute; */
    line-height: 110px;
    left: 250px;
    top: 65px;
}
.sum{
    height: 50px;
    margin-top:30px;
    margin-left: 100px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    font-size: 20px;
}
.payment{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 400px;
    background-color: #FFBF00;
    border-radius: 5px;
    float: left;
    text-align: center;
    line-height: 50px;
    color: aliceblue;
}
@media screen and (max-width: 1024px){
    .letf {
        position: absolute;
        right: 200px;
        top: 40px;
    }
    #txt_qty {
        /* left: 150px; */
        position: absolute;
        right: 170px;
        top: 40px;
        width: 30px;
        height: 30px;
        text-align: center;
        border: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
    }
    .right {
        position: absolute;
        right: 140px;
        top: 40px;
    }
    .payment {
        width: 150px;
        height: 50px;
        margin-top: 30px;
        margin-left: 135px;
        background-color: #FFBF00;
        border-radius: 5px;
        float: left;
        text-align: center;
        line-height: 50px;
        color: aliceblue;
    }


}
@media screen and (max-width: 768px){
    .chk_all_box {
        width: 100%;
    }
    .chk {
          margin-top: 0px;
     }
    .product_description {
         position: static;
        line-height: 110px;
    }
    .right {
        position: absolute;
        right: 40px;
        top: 40px;
    }
    #txt_qty {
        /* left: 150px; */
        position: absolute;
        right: 70px;
        top: 40px;

    }
    .letf {
        position: absolute;
        right: 100px;
        top: 40px;
    }
    .product_delect {
        top: 40px;
    }
    .result {
        position: absolute;
        right: 25px;
        top: 105px;
    }
    .payment {
        width: 150px;
        height: 50px;
        margin-top: 30px;
        margin-left: 175px;

    }

}
