.infomation_ul{
    overflow: hidden;
    border-bottom: 1px solid;
}
.font{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
}
.infomation_li_1{
    float: left;
    width: calc(100% - 200px);
    height: 45px;
}
.infomation_li_2{
    float: right;
    width: 70px;
    height: 45px;
    margin-right: 30px;
}
.content_area{
    display: flex;
    cursor: pointer;
}
#content_area_tep{
    margin: 20px 0;
        justify-content: flex-start;
}
.contact_information{
display: inline-block;
    width: 600px;
    height: 150px;
    line-height: 150px;
    font-weight: 500;
    padding-left: 30px;
}
.date_created,
.answer {
    width: 95px;
    height: 150px;
    line-height: 150px;
    margin-left: 20px;
}
.answer > p {

    margin-top: 58px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 70px;
    background: rgb(255 116 121);
    border-radius: 7px;
    color: white;
    font-weight: 400;
    font-family: 'nanum';

}
.questions_tab{
    background-color: rgb(248, 248, 248);
    padding: 30px;
    width:100%;
    height: 100%;
    position: relative;
        margin-bottom: 20px;
}
}
.questions_tab_answer{
    width:100%;
    height: 100%;
}
.toggleButton.active {
    opacity: 0;
}
.toggleButton.active .toggleSwitch {
    opacity: 1;
}
.toggleSwitch, .toggleButton {
    transition: all 0.3s ease-in;
}
.questions_tab_correction{
    display: inline-block;
    width: 70px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    right: 75px;
}
.questions_tab_delete{
    display: inline-block;
    width: 70px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

