*{
    margin:0;
    padding:0;
    box-sizing: border-box;
        font-family: 'nanum';
}
p{
    margin-top:10px;
}
.container{
    width:100%;
}
.popup-wrap{
    background-color:rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
}
.popup{
 padding: 45px;
    width: 100%;
    height: 600px;
    max-width: 700px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.popup-head{
    width:100%;
    height:50px;
}
.head-title {
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    border-bottom: 1px solid rgb(41 40 40 / 30%);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
}

.img_size{
    width: 100px;
    height: 100px;
}
.product_name{
    width: calc(100% - 120px);
    height: 100px;
    display: inline-block;
    line-height: 100px;
    font-weight: 600;
    padding-left: 20px;
}
.product_box{
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
        border-bottom: 1px solid rgb(41 40 40 / 30%);
}
.popup-body{
    width:100%;
    background-color:#ffffff;
    margin-top: 140px;
}
.body-content{
    width:100%;
}
.body-titlebox{
    width: calc(100% - 100px);
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: black;
    border: 1px solid;
    border-color: rgb(41 40 40 / 30%);
    padding: 0px 15px;
    outline: none;
}
.body-contentbox{
      width: calc(100% - 100px);
    height: 200px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    border-color: black;
    border: 1px solid;
    border-color: rgb(41 40 40 / 30%);
    padding: 0px 15px;
    outline: none;
}
.body-content_text{
       display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
/*     color: rgb(103, 102, 102); */
}
.popup-foot{
       width: 100%;
    height: 50px;
    /* margin-left: 220px; */
    margin-top: 20px;
    text-align: center;
}
.pop-btn{
    display:inline-flex;
    width:100px;
    height:100%;
    background-color: #FFBF00;
    justify-content:center;
    align-items:center;
    color:white;
    cursor:pointer;
    border:1px solid #FFBF00;
}
.pop-btn.confirm{
       background-color: white;
    border: 1px solid #FFBF00;
    color: #FFBF00;
    /* background: #ffbf00; */
    font-size: 13px;
    width: 20%;
    border-radius: 5px;
}
.pop-btn.close7{
       background-color: #FFBF00;
    border: 1px solid #FFBF00;
    color: white;
    width: 20%;
    font-size: 13px;
    border-radius: 5px;
}
/*등록하기 후 나오는 팝업 */
.popup-wrap3{
    background-color:rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
}
.popup3{
width: 350px;
    height: 160px;
    /* max-width: 400px; */
    /* background-color: #ffffff; */
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    /* text-align: center; */
    padding: 20px;
}
}
.popup-body3{
    width:100%;
    background-color:#ffffff;
}
.body-content3{
    padding: 13px 0 0px;
}
.body-titlebox3{
    text-align: center;
    width: 100%;
    height: 30px;
}
.body-titlebox3 > h3{
    padding:10px 0;
}
.popup-foot3{
    height: 75px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    /* text-align: center; */
    line-height: 50px;
}
#confirm2{
background: #FFBF00;
    border-radius: 5px;
    margin: 6px 80px;
    font-weight: 600;
}

