*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{
    margin-top:10px;
}
.container{
    width:100%;
}
.modal-btn-box{
    width:100%;
    text-align:center;
}
.modal-btn-box button{
    display:inline-block;
    width:150px;
    height:50px;
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    cursor:pointer;
    padding-top:8px;
}
.popup-wrap2{
    background-color:rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
}
.popup2{
width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    
}
.popup-body2{
    width:100%;
    background-color:#ffffff;
}
.body-content2{
    width: 100%;
    padding: 30px 0 15px;
}
.body-titlebox2{
    text-align: center;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* font-weight: 700; */
    font-family: 'nanum-light';
}
.popup-foot2{
    width: 100%;
    height: 50px;
    margin-bottom: 35px;
    color: #FFBF00;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}
.pop-btn2{
    background: #FFBF00;
    border-radius: 5px;
    margin-left: 5px;
    display: inline-flex;
    width: 40%;
    height: 100%;
    /* float: left; */
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.close2{
margin: 0 auto;
    width: 200px;
}
.pop-btn2.confirm,
.pop-btn2.close
{
    border-right: 1px solid white;
    background: white;
    border: 1px solid #f5c242;
    color: #f5c242;
}
