html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: white;
    overflow-y: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content_area {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}


/* //////////////////// 반응형 ////////////////////// */



/* //////////////     헤더    //////////////// */

/* ////////////// 각자 메인 ////////////// */
.main{
    width: 100%;
    /*height: 600px;*/
    background-color: white;
}


/* ////////////// 탑 버튼 ////////////// */

/* /////////////  푸터 //////////// */

.f_h_box {
    box-sizing: border-box;
    padding: 40px 0 0;
}

.f_h_txt1 {
    font-weight: 900;
}

span {
    font-weight: 400;
}

.f_b_box {
    box-sizing: border-box;
    padding: 30px 0 0;
}


.f_h_txt,
.f_b_txt {
    box-sizing: border-box;

    font-size: 13.5px;
    margin: 0;

}

.w_box {
    display: inline-block;
}

.w_box>.f_b_txt {
    background-color: #FFE178;
}

.contain {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 150px;
}

.box{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height : 200px;
    font-size: 35px;
    font-weight: 900;
}

.order_product {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin-top: 60px;
}

.order_product1{
    padding-top: 20px;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;

}

.box2{
    width: 100%;
    margin: 0 100px;
}
.product_box {
    width: 100%;
}
.product_box ul {
    padding: 0 50px;
    box-sizing: border-box;
}
.product_li{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dashed;
}

.order_text {
    padding-top: 8px;
    padding-left: 13px;
    font-size: 22px;
    font-weight: 900;
}

.box3{
    width: 100%;
    position: relative;
    padding-top: 30px;

}
.adderss {
    width: 100%;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
}

.btn_modify {
    margin-top: 15px;
    width: 55px;
    height: 30px;
    color: #fff;
    background: #ffbf00;
    border: none;
    border-radius: 5px;
}

.adderss_text {
    /* padding-top: 8px; */
    /* padding-left: 13px; */
    font-size: 20px;
    font-weight: 600;
    /* margin-right: 66px; */
    width: 100px;
    line-height: 50px;
    height: 50px;
}

.box5{
    width: 100%;
    height: 100px;
    margin-top: 5px;
    display: flex;
}
.add_box {
    display: flex;
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
}
.cupon_box {
    width: 100%;
    display: flex;
}
.cupon_txt {
    width: 150px;
    line-height: 50px;
}
.cupon_sel {
    width: 700px;
    height: 70px;
    padding: 10px 0;
    box-sizing: border-box;
}
.buy_outer{
    width: 100%;
}

.inner_box {
    width: 200px;
    height: 100%;
    text-align: center;
    line-height: 100px;
}

.inner_box2{
    width: calc(100% - 30%);
    line-height: 50px;
}

.buy_box {
    width: calc(100% - 80%);
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    font-weight: 600;
}

.detail{
    width: calc(100% - 80%);
    height: 100%;
    text-align: center;
    line-height: 100px;
}
.inner_detail {
    width: calc(100% - 30%);
    line-height: 32px;
}

.select_cupon{
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.outer{
    display: flex;
    justify-content: space-between;
}

.money {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    margin-right: 149px;
}

.product_price{
    font-size: 14px;
    margin-left: 174px;
}

.sale_price{
    font-size: 14px;
    margin-left: 174px;
}

.money_in{
    font-size: 14px;
    margin-right: 150px;
}

.outer_tmp{
    display: flex;
    justify-content: space-between;
}

.pay_box{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}


.pay_inner_box{
    width: 130px;
    height: 50px;
    border: 1px solid;
    line-height: 50px;
    text-align: center;

}

.go_buy {
    width: 20%;
    height: 60px;
    border: 1px solid;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    background: #ffbf00;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    color: #fff;
}
.color_active {
    background:#ffbf00;
}
@media screen and (max-width: 1024px){
    .contain {
        max-width: 750px;
    }
    .inner_box {
        width: 203px;
        text-align: center;
    }
    .detail {
        width: 200px;
        text-align: left;
    }
}
@media screen and (max-width: 768px){
    .contain {
        max-width: 560px;
    }
    .box {
        height: 140px;
        line-height: 140px;
        font-size: 28px;
    }
    .cupon_sel {
        width: 400px;
        height: 70px;
        padding: 10px 0;
        box-sizing: border-box;
    }
    .product_price {
        margin-left: 100px;
    }
    .money_in {
        margin-right: 100px;
    }
    .product_price {
        margin-left: 110px;
    }
    .sale_price {
        margin-left: 110px;
    }
    .buy_box {
        width: 100px;
    }
    .sale_price {
        font-size: 14px;
        margin-left: 100px;
    }
    .money {
        margin-right: 0px;
        padding: 0px 30px;
        box-sizing: border-box;
    }

}
@media screen and (max-width: 480px){
    .contain {
        max-width: 370px;
    }
    .box {
        height: 80px;
        line-height: 80px;
        font-size: 28px;
    }
    .product_box ul {
        padding: 0px 25px;
    }
    .add_box {
        padding: 0px 35px;
    }
    .inner_box {
        width: 100px;
    }
    .inner_box2 {
        line-height: 40px;
        font-size: 12px;
    }
    .detail {
        width: 110px;
    }
    .cupon_txt {
        width: 105px;
        line-height: 50px;
    }
    .cupon_sel {
        width: 235px;
    }
}