<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="com.bitstudy.app.dao.CommentMapper">

<!--    특정 게시물의 모든 댓글 삭제-->
    <delete id="deleteAll" parameterType="int">
        DELETE FROM comment
        WHERE  bno = #{bno}
    </delete>

<!--    특정 게시물의 댓글 개수-->
    <select id="count" parameterType="int" resultType="int">
        SELECT count(*) FROM comment
        WHERE  bno = #{bno}
    </select>

<!--    댓글 작성자만 댓글 삭제 가능-->
    <delete id="delete" parameterType="map">
        DELETE FROM comment WHERE cno = #{cno} AND commenter = #{commenter}
    </delete>

<!--    댓글 등록-->
    <insert id="insert" parameterType="CommentDto">
        INSERT INTO comment
            (bno, comment, commenter, reg_date, up_date)
        VALUES
            (#{bno}, #{comment}, #{commenter}, now(), now())
    </insert>

<!--    게시글의 댓글 최근 날짜순-->
    <select id="selectAll" parameterType="int" resultType="CommentDto">
<!--        SELECT cno, bno, comment, commenter, reg_date, up_date-->
        SELECT *
        FROM comment
        WHERE bno = #{bno}
        ORDER BY reg_date desc, cno desc
    </select>

<!--    DB에 있는 모든 댓글중에서 하나 가져오기-->
    <select id="select" parameterType="int" resultType="CommentDto">
        SELECT cno, bno, comment, commenter, reg_date, up_date
        FROM comment
        WHERE cno = #{cno}
    </select>

<!--    댓글 작성자만 수정 가능-->
    <update id="update" parameterType="CommentDto">
        UPDATE comment
        SET comment = #{comment}
          , up_date = now()
        WHERE cno = #{cno} and commenter = #{commenter}
    </update>
</mapper>