<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">


<mapper namespace="member">



    <!--로그인 처리-->
    <select id="login_check"  resultType="String">
        SELECT m_id,m_pwd,m_name FROM member
        WHERE m_id = #{m_id} AND m_pwd = #{m_pwd}
    </select>

    <!--회원가입 처리-->
    <insert id="insertlogin">
        INSERT INTO member
        (
        m_index, m_id, m_pwd, m_phone, m_email,
        m_birth, m_name, m_nickName
        )
        VALUE(
        (SELECT IFNULL(MAX(a.m_index),0)+1 AS mno FROM  member a),
        #{m_id}, #{m_pwd}, #{m_phone},#{m_email},#{m_birth},#{m_name},#{m_nickName}

        )
    </insert>

    <!--회원가입 처리시 아이디 중복방지처리-->
    <select id="check_m_id" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM  member WHERE m_id =#{m_id}
    </select>

    <!--회원가입 처리시 이메일 중복방지처리-->
    <select id="check_m_email" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM  member WHERE m_email =#{m_email}
    </select>

    <!--모든상품 리스트 출력-->
    <select id = "list_product" resultType ="com.bitstudy.app.domain.ProductDto">
        SELECT p.p_index, i.image_id, p.p_name, p.p_price, p.p_no, i.saveImage
        FROM product p JOIN image i ON p.p_index=i.p_index

    </select>

    <!--검색기능 리스트 출력-->
    <select id = "search_product" resultType ="com.bitstudy.app.domain.ProductDto" parameterType= "com.bitstudy.app.domain.ProductDto">
        SELECT p.p_index, i.image_id, p.p_name, p.p_price, p.p_no, i.saveImage
        FROM product p JOIN image i ON p.p_index=i.p_index
        WHERE p.p_name like concat ('%',#{keyword},'%')

    </select>


    <select id = "listProduct_opt" resultType ="com.bitstudy.app.domain.ProductDto">
        SELECT p.p_index, p.category_index, i.image_id, p.p_name, p.p_price, p.p_no, i.saveImage
        FROM product p JOIN image i ON p.p_index=i.p_index
        WHERE p.category_index = #{cate_value}

    </select>

    <!-- 카테고리 기능 리스트 출력-->
    <select id = "listProduct_cate" resultType ="com.bitstudy.app.domain.ProductDto">
        SELECT p.p_index, p.category_index, i.image_id, p.p_name, p.p_price, p.p_no, i.saveImage
        FROM product p JOIN image i ON p.p_index=i.p_index
        WHERE p.category_index = #{value}

    </select>

    <!--상품 상세보기 -->
    <select id = "selectProduct" resultType ="com.bitstudy.app.domain.ProductDto">
        SELECT p.p_index, p.category_index, i.image_id, p.p_name, p.p_price, p.p_no, i.saveImage, i.detail_image1, i.detail_image2
        FROM product p JOIN image i ON p.p_index=i.p_index
        where p.p_index = #{p_index}
    </select>

</mapper>